@import "~style/helpers";

.container {
	display: flex;
	flex-direction: column;
	background-image: url("../../assets/backgrounds/iphone2.jpg");
	color: rgb(56, 56, 56);
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 40px;
	margin: 0 auto;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;
}
.conditions {
	flex: 1;
	font-size: 1em;
}
.temperature {
	flex: 1;
	font-size: 2em;
	font-weight: 400;
}
.subtemp {
	flex: 1;
	font-size: 1.2em;
	font-weight: 400;
}
.icon {
	background-image: url("../../assets/backgrounds/iphone2.jpg");
}
.percentage:after {
	content: "%";
}
.mm:after {
	content: "mm";
}
.metric:after {
	content: "° C";
	font-size: 0.5em;
	font-weight: 200;
	display: inline-block;
	padding-top: 5px;
	vertical-align: top;
}
.imperial:after {
	content: "° F";
	font-size: 0.5em;
	font-weight: 200;
	display: inline-block;
	padding-top: 5px;
	vertical-align: top;
}
